# macOS system files
.DS_Store
.__MACOSX/

# IDE/editor configs
.fleet/
.idea/
.vscode/

# PHPUnit cache
.phpunit.cache

# Node modules
node_modules/

# Other hidden folders
.arino/

# Build or update folders
update/

# Zip files
*.zip

# Environment file
.env
